*{
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}
.cal{
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-top: 48px;
}
h1{
    color:burlywood;
    font-weight: bolder;
    font-size: 54px;
    margin-left: 50px;
    width: 22%;
}
button.sim {
    height: 63px;
    width: 63px;
    border: none;
    border-radius: 13px;
    background-color: lightgray;
    color: black;
    font-size: 31px;
    cursor: pointer;
}
.btn{
    width: 20%;
    height: 405px; 
    font-size: 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top:20px;
    margin-left: 50px;
}
.result {
    font-size: 48px;
    margin-left: 25px;
    margin-top: 39px;
    border: 1px solid black;
    width: 22%;
    height: 56px;
}
#PING_IFRAME_FORM_DETECTION span{
    display: block;
}
.reset{
    margin-left: 25px;
    border:none;
    background-color: lightgray;
    color:black;
    height: 41px;
    width: 8%;
    border-radius: 15px;
    margin-top: 25px;
    font-size: 25px;
    cursor: pointer;
}
.display {
    height: 54px;
    border: 1px solid black;
    width: 26%;
    margin-left: 25px;
    font-size: 51px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
